.header {
  background: var(--gradient-header);
  box-shadow: var(--shadow-header);
}

.headerTitle {
  padding: 0 var(--medium-spacing);
  font-size: 1.5rem;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--medium-spacing) 0;
}

.headerTabs {
  display: flex;
  justify-content: space-evenly;
}

.headerTab {
  width: 100%;
  text-align: center;
  padding: var(--medium-spacing);
  
}

.headerTab.activeTab {
  border-bottom: solid 2px var(--secondary-color-shade-1);
}

.headerTabButton {
  border: 0;
  background: transparent;
  color: var(--secondary-color-shade-1);
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1440px) {
  
}

